<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8" />
        <meta name="description" content="form to add new books">
        <meta name="author" content="Mark Tyers">
        <link href="{{host}}/style3.css" type="text/css" rel="stylesheet" />
        <script type="module" src="{{host}}/main.js"></script>
 <script src="{{host}}/main2.js" type="module"></script>
 <title>Library Management System</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"


   integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

 {{!-- <link rel="stylesheet" href="./style.css" /> --}}
</head>
<body>
<main class="header">
   <section class="container text-center">
      <header class="header">
  <a href="/" class="logo">Library Loans</a>
  <section class="header-right">
    <a class="active" href="{{host}}/">Home</a>
    <a href="{{host}}/#contact">Contact</a>
    <a href="{{host}}/#about">About</a>
     <a href="{{host}}/logout">Logout</a>
			<a href="{{host}}/secure">Options page</a>
  </section>
      </header>
    </main>  
    {{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
    <br>
    
    <h2 style="text-align: center;">Add Book</h2>
     <main class="d-flex justify-content-center"> 
       
       <form class="w-50" action="/bookpage" enctype="multipart/form-data" method="post">
         {{!-- <input type="text" name="userid" id="userid" value="" class="form-control" autocomplete="off" readonly placeholder="ID" /><br> --}}
         <input type="text" required="required" name="bookName" id="bookName" class="form-control" autocomplete="off" placeholder="Book Name" /><br>
         
         <section class="row">
           <section class="col">
             <input type="text" required="required" name="bookAuthor" id="bookAuthor" class="form-control m-0" autocomplete="off" placeholder="Author" />
           </section>
           <section class="col">
             <input type="text" required="required" name="isbnNumber" id="isbnNumber" class="form-control m-0" autocomplete="off" placeholder="ISBN-13 Number" />
           </section>
         </section>
         <br>
         <section class="row">
           <section class="col">
             <input type="text" required="required" name="quantity" id="quantity" class="form-control m-0" autocomplete="off" placeholder="Quantity" />
           </section>
           <section class="col">
             <input type="text" required="required" name="barcode" id="barcode" class="form-control m-0" value="{{barcode}}" autocomplete="off" placeholder="Barcode" readonly="readonly"/>
           </section>
          <input type="hidden" name="cTime" id="cTime" />
         </section>
         
         <br>
         <p style="text-align: center;"><input class="btn btn-success" type="submit" value="Save"></p>
       </form>
     </main>  
     
<footer class="footer-distributed">
 <section class="footer-left">
 <h3>Library<span> Management System</span></h3>
 <p class="footer-links">
 <a href="{{host}}/">Home</a>
 ·
 <a href="#">Contact</a>
 ·
 <a href="#">About</a>
 </p>
 <p class="footer-company-name">Library Management System; 2021</p>
 </section>
 <main class="footer-center">
 <section>
 <i class="fa fa-map-marker"></i>
 <p><span>Priory St, CV1 5FB</span> Coventry, England</p>
 </section>
 <section>
 <i class="fa fa-phone"></i>
 <p>024 7688 7688</p>
 </section>
 <section>
 <i class="fa fa-envelope"></i>
 <p><a href="mailto:support@company.com">rahmancm@uni.coventry.ac.uk</a></p>
 </section>
 </main>
 <main class="footer-right">
 <p class="footer-company-about">
 <span>About the Library</span>
 5001CEM Semester 2 project. 
 </p>
 <section class="footer-icons">
 <a href="#"><i class="fa fa-facebook"></i></a>
 <a href="#"><i class="fa fa-twitter"></i></a>
 <a href="#"><i class="fa fa-linkedin"></i></a>
 <a href="#"><i class="fa fa-github"></i></a>
 </section>
 </main>
 </footer>
</body>
 <script>
   document.getElementById('cTime').value = new Date();
 </script>
</html> 